/* lintian.css -- Style sheet for lintian.debian.org pages. */

/*
 # Table of Contents:
 #
 # 1. General styles (links, lists, titles, tables...)
 # 2. Header
 # 3. Navigation
 # 4. Main content
 # 5. Footer
 # 6. Other
 */

/*
 # Order:
 #
 # example {
 #   display
 #   position
 #   width
 #   height
 #   margin
 #   padding
 #   background
 #   color
 #   font
 #   text
 #   line-height
 #   border
 # }
 */


/*
 * 1. General styles
 */

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    color: #222;
    background-color: white;
    font-family: 'Roboto', serif;
}

h1, h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
}

h1 {
    margin-bottom: 25px;
}

h2 {
    margin-top: 25px;
    margin-bottom: 14px;
    padding-bottom: 6px;
    border-bottom: 2px solid #AAA;
}

h3 {
    margin: 5px 0 5px 10px;
    color: #444;
    font-size: 1.0em;
}

a {
    color: #3252B2;
}

ul {
    margin: 0;
}

li {
    color: #333;
}

hr {
    display: none;
}

/*
 * 2. Header title
 */

header {
    display: block; /* HTML5 compat */
    margin: 0 0 28px 0;
    padding: 5px 20px;
    background: #F3F3F3 url("/images/logo-small.png") no-repeat right;
    border-bottom: 1px solid #AAA;
}

header p {
    float: left;
    margin: 5px 0;
    color: #444;
    font-size: 1.2em;
}

header p a {
    color: #444;
    text-decoration: none;
}

/*
 * 3. Navigation bar
 */

#nav {
    float: right;
    margin: 9px 65px 5px 0;
    padding: 0;
}

#nav li {
    display: inline;
    margin-left: 5px;
}

#nav a {
    padding: 3px 5px;
    color: #333;
    font-size: 0.9em;
    text-decoration: none;
}

#nav a:hover {
    background-color: #F3F3F3;
    border-bottom: 2px solid #D70751;
}


/*
 * 4. Main content
 */

main {
    margin: 0 40px;
    font-size: 0.9em;
}

.showcase {
    margin: 25px 0;
    padding: 40px 20px;
    background: #EFF4F8 url("/images/l.png") no-repeat left;
    background-origin: content-box;
    border: 1px solid #DFE4E8;
}

.showcase p {
    margin-left: 160px;
    font-size: 1.1em;
}

/* For smaller devices, we leave out the "icon" - it is fairly wide with
 * little added value.
 */
@media (max-width: 700px) {

  .showcase {
      margin: 25px 0;
      padding: 20px;
      background: #EFF4F8;
      border: 1px solid #DFE4E8;
  }

  .showcase p {
      margin-left: 5%;
  }
}

li span {
    margin: 0 0px 0 0;
    padding: 1px 0px;
}

/* E/W/I colors */

span.visibility-symbol {
    font-family: monospace;
    font-size: 1.1em;
}

.visibility-symbol.big {
    padding: 1px 5px;
    margin-right: 5px;
    font-weight: normal;
}

span.label {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
}

.hints-by-source {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 2px solid #AAA;
    clear: both;
}

.visibility-symbol.tiny {
    font-weight: bold;
    padding: 1px 3px;
}

.hint.tiny {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 0.9em;
}

.context.tiny {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 0.9em;
}

.comment.tiny {
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
}

ul.minor {
  list-style-type: none;
}

ul.see-also {
    padding-bottom: 1em;
}

ul.taglist {
  list-style-type: none;
}

ul.screenlist {
  list-style-type: none;
}

ul.sourcelist {
  list-style-type: none;
}

ul.filelist {
    list-style-type: disc;
    margin-left: 2em;
}

ul.hintlist {
    list-style: none;
    padding-left: 10px;
}

ul.commentlist {
    list-style: none;
    padding-left: 0px;
}

li.fileitem {
    margin: 10px 0 5px 0;
}

a.visibility-symbol {
    text-decoration: none;
}

a.visibility-symbol:hover {
    filter: invert(100%);
}

.visibility-symbol.E {
    color: #ffffff;
    background-color: #fc0905;
    border: 1px solid #ffffff;
}

.visibility-symbol.W {
    color: #111111;
    background-color: #fceb02;
    border: 1px solid #888888;
}

.visibility-symbol.I {
    color: #ffffff;
    background-color: #465efc;
    border: 1px solid #ffffff;
}

.visibility-symbol.P {
    color: #ffffff;
    background-color: #00c627;
    border: 1px solid #ffffff;
}

.visibility-symbol.X {
    color: #ffffff;
    background-color: #9e8040;
    border: 1px solid #ffffff;
}

.visibility-symbol.O {
    color: #ffffff;
    background-color: #444444;
    border: 1px solid #ffffff;
}

.visibility-symbol.M {
    color: #111111;
    background-color: #dddddd;
    border: 1px solid #444444;
}

.visibility-symbol.C {
    color: #ffffff;
    background-color: #bc55fc;
    border: 1px solid #ffffff;
}

div.explanation {
    padding: 8px 28px;
    margin: 25px 0;
    background-color: #EEE;
    border: 1px solid #BBB;
    float: left;
    clear:left;
}

.explanation.E {
    background-color: #fccac9;
    border: 1px solid #fc0905;
}

.explanation.W {
    background-color: #fcf9c9;
    border: 1px solid #fceb02;
}

.explanation.I {
    background-color: #dee2fc;
    border: 1px solid #465efc;
}

.explanation.P {
    background-color: #d4fcdc;
    border: 1px solid #00c627;
}

.explanation.X {
    background-color: #fcf2de;
    border: 1px solid #9e8040;
}

.explanation.C {
    background-color: #f4e8fc;
    border: 1px solid #bc55fc;
}

div.terminal {
    margin-bottom: 1em;
}

p.terminal {
    font-family: monospace;
    margin-top: 0;
    margin-bottom: 0;
}

div.versions {
    background-color: #F3F3F3;
    border: 1px solid #AAA;
    padding: 0.5em;
    display: inline-block;
    float: right;
}

ul.versions {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

p.versions {
    font-weight: bold;
    text-align: center;
    margin: 0;
    margin-bottom: 0.5em;
}

span.versions.highlight {
    color: #D70751;
}

a.versions {
}

span.maintenance_links {
    font-size: 0.6em;
    margin-left: 1.2em;
}

.liberty.main {
}

.liberty.contrib {
    color: red;
}

.liberty.non-free {
    color: red;
}

span.release-list {
    font-style: italic;
}

span.quote {
    font-style: italic;
}

span.run-details {
    font-style: italic;
}

a.sample {
    font-style: italic;
}

/*
 * 5. Footer
 */

footer {
    display: block; /* HTML5 compat */
    margin: 20px 20px;
    padding: 10px 0 0 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 0.85em;
    border-top: 1px solid #AAA;
}

footer p {
    margin: 0;
    padding: 0;
}


/*
 * 6. Other
 */

div.clear {
    clear: both;
}

